header {
  background-color: rgb(7, 23, 37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 24px;

  nav {
    ul {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

    li {
      border: solid 1px rgb(16, 49, 78);
      background-color: transparent;
      box-shadow: none;
      transition: background 500ms ease;

      a {
        color: rgb(84, 145, 199);
        transition: all 0.3s ease-in-out;
      }
      &:hover {
        background-color: rgb(16, 49, 78);
      }
    }
    .navContainer {
      display: flex;
      align-items: center;
    }
  }

  img {
    max-width: 60px;
    object-fit: contain;
    z-index: 10000;
  }
}

.hamburger {
  display: none;
}
/* 
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navMenu {
    display: none;
  }
  .navMenu.active {
    display: flex;
    .navList {
      flex-direction: column;
    }
  }
}
 */
